//@use "@oleh-ob/cs-styles";
//@use "@oleh-ob/cs-styles/scss/index" with (
//  $page-root: "#root",
//  $enable-icons: true,
//  $enable-grid: true,
//  $grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1100px,
//        xxl: 1400px
//  ),
//  $theme-colors: (
//    //'light-primary': red,
//    //'dark-primary': green
//  )
//);

main {
  margin-bottom: 5rem;
}

.language-html {
  margin-top: var(--cs-spacing);
  border-radius: var(--cs-border-radius);
  background-color: var(--cs-surface-container);
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
}

.code {
  overflow-x: auto;
  padding-bottom: var(--cs-spacing);
}

h2[id],
article[id] {
  --anchor-offset: 100px;

  padding-top: var(--anchor-offset);
  margin-top: calc(-1 * var(--anchor-offset));
}

.grid {
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--cs-spacing);
    border-radius: var(--cs-border-radius);
    color: var(--cs-on-surface);
    background-color: var(--cs-surface-container);
    text-align: center;
  }
}

.toggle-mode-icon {
  :not([data-theme="dark"]) & {
    background-image: var(--cs-dark-icon);
  }

  [data-theme="dark"] & {
    background-image: var(--cs-light-icon);
  }
}

.light-mode-icon {
  background-image: var(--cs-light-icon);
}

.menu-icon {
  background-image: var(--cs-menu-icon);
}

.github-icon {
  background-image: var(--cs-github-icon);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  width: auto;
  font-size: 38px;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right, var(--cs-primary), var(--cs-tertiary));
  background-clip: text;
  cursor: pointer;
}

.color-scheme > div {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  & > div {
    text-align: left;
    width: 100%;
    padding: var(--cs-spacing);
  }

  & > div:first-child {
    height: 120px;
  }
}
.copied-message {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50vw;
  padding: var(--cs-spacing) calc(var(--cs-spacing) * 2);
  background-color: var(--cs-success);
  color: var(--cs-on-surface);
  border: 2px solid var(--cs-success);
  border-radius: var(--cs-border-radius);
}

.text-effect-kemi {
  position: relative;

  & > * {
    font-size: 3em;
    position: absolute;
  }

  :first-child {
    color: transparent;
    -webkit-text-stroke: 1px var(--cs-primary);
  }

  :last-child {
    color: var(--cs-primary);
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
                      0% 45%,
                      16% 44%,
                      33% 50%,
                      54% 60%,
                      70% 61%,
                      84% 59%,
                      100% 52%,
                      100% 100%,
                      0% 100%
      );
    }

    50% {
      clip-path: polygon(
                      0% 60%,
                      15% 65%,
                      34% 66%,
                      51% 62%,
                      67% 50%,
                      84% 45%,
                      100% 46%,
                      100% 100%,
                      0% 100%
      );
    }
  }

}
