.language-html {
  margin-top: var(--cs-spacing);
  border-radius: var(--cs-border-radius);
  background-color: var(--cs-surface-container);
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
}

.code {
  overflow-x: auto;
  padding-bottom: var(--cs-spacing);
}
